$font-primary: 'Roboto', sans-serif;
$font-allerta-stencil: 'Allerta Stencil', sans-serif;
$font-stardos-stencil: 'Stardos Stencil', sans-serif;
$font-gugi: 'Gugi', sans-serif;

// colors
$color-zinc-800: #27272a;
$color-zinc-950: #09090b;
$color-white: #ffffff;

$color-slate-50: #f8fafc;
$color-slate-100: #f1f5f9;
$color-slate-200: #e2e8f0;
$color-slate-300: #cbd5e1;
$color-slate-400: #94a3b8;
$color-slate-700: #334155;
$color-slate-800: #1e293b;
